QLabel#notice{
    font-size:32px;
    color:gray;
    border:lpx solid gray;
    border-radius:8px;
}

QLabel#notice[notice_level="waring"]{
    font-size:32px;
    color:red;
    border:lpx solid gray;
    border-radius:8px;
}

QLabel#notice[notice_level="normal"]{
    font-size:32px;
    color:yellow;
    border:lpx solid gray;
    border-radius:8px;
}